h5 {
    text-align: right;
}

.loggedInAs{
     text-align: right;
     position: relative;
     color: red;
}
div{
    
    color: green;
    background-color: rosybrown;
}
body{
    color: blue;
    background-color: rosybrown;
}
.layoutUnit {
    color: blue;
    background-color: blueviolet;
    
}
.dataTable{
    
    color: blueviolet;
     background-color: greenyellow;
}

.employeeTable{   
   border-collapse:collapse;
   border:1px solid #000000;
}

.employeeTableHeader{
   text-align:center;
   background:none repeat scroll 0 0 #B5B5B5;
   border-bottom:1px solid #000000;  
   padding:2px;
}

.employeeTableOddRow{
   text-align:center;
   background:none repeat scroll 0 0 #FFFFFFF;	
}

.employeeTableEvenRow{
   text-align:center;
   background:none repeat scroll 0 0 #D3D3D3;
}